# Environment variables
.env
.env.*
!.env.example

# Python virtual environments
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd

# Python distribution / packaging
*.egg
*.egg-info/
dist/
build/
wheels/
.eggs/
MANIFEST

# mypy / type checking
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/

# Testing
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
nosetests.xml
coverage.xml
*.cover

# Streamlit
.streamlit/secrets.toml

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb

# IDEs & editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.DS_Store
Thumbs.db

# Logs
*.log
logs/

# OS
.DS_Store
desktop.ini

# Misc
*.tmp
*.bak
*.swp

# Travel Plans
saved_plans/
